html, body, div, p, h2, a {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

html {
    font: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    margin: 20px auto;
    background-color: crimson;
    color: white;
    padding: 6px, 10px;
}

.popup-wrapper {
    
    background-color: rgba(0,0,0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

}

.popup {
    text-align: center;
    background-color: orange;
    width: 100%;
    max-width: 300px;
    margin: 20% auto;
    padding: 20px;
    position: relative;
    border: 1px solid whitesmoke;

}

.popup-close {
    position: absolute;
    right: 8px;
    top: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}

.policy {
    color: grey;
    padding: 4px;
    text-decoration: none;
    /* font-size: 1rem; */

}

.agree {
    display: block;
    color: black;
    background-color: white;
    width: 100%;
    text-decoration: none;
    border: 1px solid black;
    margin: 10px auto;
    padding: 1rem 0.5rem;
}

.popup-content p  {
    margin: 0.5rem;
   
}