html {
    color: whitesmoke;
}

body {
    background-color: blue;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 2px hotpink solid;
}
 #todospage {

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    border: 2px hotpink solid;
    width: 400px;
}  

.heading {
    text-align: center;
    width: 400px;
}