body {
    background-color: #eee;

}
form {
    max-width: 200px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.success {
    border: 3px limegreen solid;
 
}

.error {
    border: 3px red solid;
    
}